@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');
@import "tailwindcss";
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  #phaser-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .Primary{
    font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;

  }